:root{
    --color-base: #333;
    --color-base-figure-background: ghostwhite;
    --color-base-figure-border: #ccc;
    --font-family-base: "Roboto", sans-serif;
    --font-family-title: "Abril Fatface", serif;
    --font-family-subtitle: "Goblin One", serif;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--color-base);
    font-family: var(--font-family-base);
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1{
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
    font-family: var(--font-family-title);
}

h2{
    border-bottom: 2px groove var(--color-base);
    margin-top: 30px;
    font-family: var(--font-family-subtitle);
}

figure{
    background-color: var(--color-base-figure-background);
    border: 1px solid  var(--color-base-figure-border);
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 50px;
}

p{
    padding: 0 45px;
    text-indent: 15px;
}

#centro_distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

footer{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

footer img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

ul {
    padding: 0 45px;
}

@media (max-widht: 768px ){
    body{
        width: auto;
        margin: 0 20px;
    }

    h1 {
        font-size: 1.8em;
        padding: 8px;
    }

    h2{
        font-size: 1.4em;
        margin-top: 20px;
    }

    p{
        padding: 0 15px;
        text-indent: 15px;
        text-align: left;
        line-height: 1.5;
    }

    figure{
        margin: 20px 0;
        padding: 10px;
    }

    #centro-distribuicao{
        width: 100%;
        max-width: 550px;
    }

    #familia-pelho{
        float: none;
        margin: 20px auto;
        display: contents;/*<<<<*/
    }
}